*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:red;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div{
    color:lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 170px;
    height: 40px;
}
