*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Arial;
    background:black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div{
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 170px;
    height: 40px;
}
